:markdown
	# Introduction

	Comb Script is a language for describing technical vector drawings and a tool that exports these drawings as SVG files.

	Comb Script was inspired by OpenSCAD, CSS, and HTML

	Comb Script files describe parametric drawings declaritively, focusing on the positional relationships of shapes in the design.

	OpenSCAD:3D printing::Comb Script:Laser Cutting.

	## Features
	-	Declarative Syntax. Describe what you want rather than how to make it.
	-	Describe drawings in terms of position and size relationships
	-	Combine shapes using boolean operations: Intersection, Union, and Difference
	-	Export as SVG


	## What it is not

	## Inspiration

