#editor
{
	overflow: hidden;
}

#editor-content
{
	overflow: visible;

	margin-top: 5px;
	margin-bottom: 5px;
}



////////////////////////////////////////////////////////////////////
// region highlighting

.highlight
{
	position: absolute;

	border-left: 1px solid $color-green;
}

.highlight.rectangle,
.highlight.ellipse,
.highlight.regiongrid
{
	border-left: 1px solid $color-blue;
}



////////////////////////////////////////////////////////////////////
// gutter

#editor .ace_gutter
{
	color: #777;
	background: inherit;
}


////////////////////////////////////////////////////////////////////
// Syntax coloring

// default color
#editor .ace_line
{
	color: $color-orange;
}


// array hyphens
#editor .ace_list.ace_markup
{
	color: $color-orange;
}


// property name
#editor .ace_meta.ace_tag
{
	color: $color-green;
}


// colon
#editor .ace_keyword
{
		color: $color-green;
}

// number value
#editor .ace_constant.ace_numeric
{
	color: white;
}


////////////////////////////////////////////////////////////////////
// scrollbar

.ace_scrollbar-v
{
	margin-right: 10px;
}

.ace_scrollbar-h
{
	bottom: -6px;

	margin-bottom: 10px;
}

.ace_scrollbar::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
}

.ace_scrollbar::-webkit-scrollbar-track
{
	margin: 6px;

	background: transparent;
}

.ace_scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	background-color: darken($color-green, 20);
}
