@doc-property: #ff2259;
@link-color: #228fff;
@light-text-color: rgb(121, 121, 121);

@menu-color: rgb(38, 40, 33);
@bg-color: rgb(247, 247, 247);

body{
	font-family: 'Lucida Console', Monaco, monospace;
	background-color: @bg-color;
	font-size: 12px;
	margin: 0px;
}

#content{
	width: 800px;
}
.clear{
	clear:both;
}

a, a:visited{
	color: @link-color;
	text-decoration: none;
	padding: 2px;
}

a:hover{
	background-color: @link-color;
	color: white;

}

h1{
	font-size: 18px;
}
h2{
	font-size: 14px;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#menu-container{
	//float: left;
	background-color: @menu-color;
	width: 200px;
	padding: 10px;
	height: 900px;

	position: fixed;
	top:0px;
	left:0px;
	li{
		margin-bottom: 5px;
	}
	color:white;
}

#detail-container{
	width: 550px;
	margin-left: 220px;

	#regionTypes{
		li{
			margin-bottom: 50px;
			//background-color: white;
			padding: 10px;
		}

		.properties{
			li{
				.property-name{
					color: @doc-property;
					font-weight: bold;
					margin-bottom: 15px;
					display: block;
				}
				.description{
					display: block;
				}
				margin-bottom: 15px;
				padding: 0px;
				dl{
					margin-top: 5px;
				}
				dt{
					display:block;
					float: left;
					clear: left;
				}
				dd{
					margin-left: 70px;
					color: @light-text-color;
				}
			}
		}
	}
}

pre{
	background-color: #262821;
	color: white;
	padding: 10px;
	//width: 100%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}