@import "code.less";

@doc-property: #ff2259;
@link-color: #228fff;
@light-text-color: rgb(121, 121, 121);

@menu-color: rgb(221, 221, 221);
@bg-color: rgb(247, 247, 247);
@code-color: rgb(235, 235, 235);

/* Micro ClearFix Mixin */
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}


body{
	font-family: 'Arvo', serif;
	background-color: @bg-color;
	font-size: 14px;
	margin: 0px;
}

#content{
	width: 800px;
}
.clear{
	clear:both;
}

a, a:visited{
	color: @link-color;
	text-decoration: none;
	padding: 2px;
}

a:hover{
	background-color: @link-color;
	color: white;

}

.anchortag{
	position:absolute;
}

h1{
	font-size: 20px;

}
h2{
	font-size: 16px;
	font-weight: normal;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#menu-container{
	//float: left;
	background-color: @menu-color;
	width: 200px;
	padding: 10px;
	height: 900px;

	position: fixed;
	top:0px;
	left:0px;
	li{
		margin-bottom: 5px;
	}
	//color:white;
}

#detail-container{
	width: 550px;
	margin-left: 220px;

	#template-regionTypes{
		.region-type{
				padding: 10px;
				padding-bottom: 50px;
				border-bottom: 1px dashed @light-text-color;

			.properties{
				li{
					

					margin-bottom: 15px;
					padding: 0px;
					border-bottom: 1px solid @code-color;
					.property-name{
						color: @doc-property;
						margin-bottom: 15px;
						display: block;
					}
					.description{
						display: block;
					}


				}
			}
		}
	}
}

dl{
	margin-top: 5px;
	.clearfix();
}
dt{
	display:block;
	float: left;
	clear: left;
	width:75px;
}
dd{
	margin-left: 0px;
	color: @light-text-color;
	float:left;
	margin-right: 15px;
}

	pre{
		font-family: Monaco, monospace;
		background-color: @code-color;
		color: @light-text-color;
		padding: 10px;

		border-left: 3px solid #C00;
		padding-left: 10px;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
