@import "_reset";

@import "_common";

@import "_syntax_highlight";

$doc-property: $color-blue;
$link-color: $color-magenta;
$light-text-color: $color-orange;//rgb(121, 121, 121);
$bg-color: $color-canvas;
$code-bg-color: white;

$header-font: $display-font;
$body-font: $display-font;
$monospace-font: $mono-font;


////////////////////////////////////////////////////////////////////
// mixins

@mixin link($color)
{
	font-weight: 400;

	margin-left: -2px;
	padding: 2px;
	padding-bottom: 0;

	text-decoration: none;
	//&:visited{ color: black; }

	color: $color;
	border-bottom: 1px solid $color;
	&:hover
	{color: white; 
		background-color: $color;
	}
}


////////////////////////////////////////////////////////////////////
// 

html
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: $body-font;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.75;

	margin: 0;

	background-color: $bg-color;
}


a
{
	@include link($link-color);
}

p
{
	margin-bottom:1em;
}


////////////////////////////////////////////////////////////////////
// structure

#menu
{
	position: fixed;
	top: 10px;
	left: 10px;
}


#content
{
	position: relative;

	width: 550px;
	margin-left: 210px;
}

section
{
	padding-top: 1px;
	// overflow: hidden;
	//prevent margin collapse (makes top align properly when achor navigated to)
}
strong
{
	font-weight: 400;
}

// .deprecated{
// 	background-color:$color-yellow;
// }


////////////////////////////////////////////////////////////////////
// type

h1,
h2,
h3
{
	font-family: $header-font;
	font-weight: normal;
	line-height: 1;

	margin: 40px 0 0 0;
	// color: #009900;
}

h1
{
	font-size: 2em;
	border-bottom: 1px dotted black;
	font-weight:300;
	margin-bottom: .5em;
}

h2
{
	font-size: 1.3em;
	margin-bottom: .5em;
}

h3
{
	font-size: 1.0em;
}

#menu{
	h2
	{
		font-size: 1em;
		line-height: 1.3em;
		margin-bottom: .8em;
	}
	li
	{
		// margin-bottom: 5px;
		line-height: 36px;

	}
	a
	{
		@include link($color-blue);
		border-bottom: none;
		padding: 5px;
		margin-left: -5px;
		font-weight: 400;
	}
}


////////////////////////////////////////////////////////////////////
// lists

section ul
{
	margin: 1em 0;
}

section ul li
{
	line-height: 1.5;

	margin-bottom: 1em;
	// border-left: 3px solid $link-color;
	// padding-left: 5px;
	// margin-left: -8px;

	// list-style: disc;
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}



////////////////////////////////////////////////////////////////////
// code examples - syntax

pre
{
	font-family: $monospace-font;
	font-size: 14px;

	display: block;

	box-sizing: border-box;
	min-height: 250px;
	padding: 10px;

	white-space: pre;
	// white-space: pre-wrap;       /* css-3 */
	// white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	// white-space: -pre-wrap;      /* Opera 4-6 */
	// white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */

	color: $light-text-color;
	border-left: 1px solid darken($color-green, 10);
	background-color: $code-bg-color;
	margin-bottom: 1em;
}

p code
{
	font-family: $monospace-font;
	font-size: 14px;

	padding: 1px 2px;

	color: $light-text-color;
	border: 1px solid darken($code-bg-color, 10);
	background-color: $code-bg-color;
}


////////////////////////////////////////////////////////////////////
// example canvas

canvas.example
{
	position: absolute;
	left: 570px;

	box-sizing: border-box;
	background-color: white;
	// border: 1px solid $light-text-color;
	border-left: 1px solid darken($color-green, 10);
	@media (max-width: 1300px)
	{
		position: relative;
		left: 0;
	}
	margin-bottom: .5em;
}



////////////////////////////////////////////////////////////////////
// API - Regions

.region-description
{
	margin-bottom: 40px;
}

.region-type .properties
{
	margin-bottom: 35px;
	li
	{
		padding-bottom: 10px;
		margin-bottom: 10px;

		border-bottom: 1px dotted $color-magenta;
	}
	li.closed
	{
			padding-bottom: 0px;
	}
	.property-name
	{
		@include link($color-magenta);
		border-bottom: none;
		padding: 2px 5px;
		margin-left: -5px;

		display: inline-block;

		margin-bottom: 10px;
	}
	.closed .description,
	.closed dl
	{
		display: none;
	}
}


dl
{
	@include clearfix;

	margin-top: 5px;
	line-height:31px;
}

dt
{
	display: block;
	float: left;
	clear: left;

	width: 75px;


}

dd
{
	font-size: 16px;
	font-weight:600;
	float: left;

	margin-right: 15px;
	margin-left: 0;

	color: darken($color-green, 10);

	a{
		@include link($color-blue);
		border-bottom: none;
		padding: 5px;
		margin-left: -7px;
		font-weight: 400;
	}
}
