@import (inline) "reset.css";
@import "editor.less";

// @import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	
}

div
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.hidden {display: none !important;}


.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Micro ClearFix Mixin */
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

////////////////////////////////////////////////////////////////////
// Split Pane Appearance

@divider-width: 5px;
@divider-color: black;
@color-accent: black;
@color-dark-gray: #303030;


.split-pane-divider {
	background: black;
}


// horizontal divider []|[]
.fixed-left > .split-pane-divider,
.fixed-right > .split-pane-divider 
{
	width: @divider-width;
	.divider-handle
	{
		position: absolute;
		top: 50%;
		right: 0px;
		width: 30px;
		height: 60px;
		margin-top: -30px;
		// border: 1px solid red;
		background: url(../images/handles/divider_handle_left.svg) 100% 50% no-repeat;
	}
}

// vertical divider  —
.fixed-top > .split-pane-divider,
.fixed-bottom > .split-pane-divider 
{
	height: @divider-width;
	// bordeR: 1px solid red;
	.divider-handle
	{
		// bordeR: 1px solid red;
		position: absolute;
		left: 50%;
		top: 0px;
		width: 60px;
		height: 30px;
		margin-left: -20px;
		// border: 1px solid red;
		background: url(../images/handles/divider_handle_down.svg) 50% 0% no-repeat;
	}

}


////////////////////////////////////////////////////////////////////
// Layout
@menu-height: 40px;
@menu-width: 70px;
@preview-width: 50%;//450px;
@preview-min-width: 520px;
@right-side-min-width: 300px;
@editor-min-height: 200px;
@file-info-height: 40px;
@log-height: 200px;
@log-min-height: 20px;

@menu-green: #1de982;
@menu-blue: #00f0ff;
@menu-orange: #ff6529;
@menu-yellow: #fffc01;

#menu {
	position: absolute;
	box-sizing: border-box;
	
	width: 100%;
	height: @menu-height;
	
	z-index: 1;
}

#document-wrap {
	position: absolute;
	// width: 500px;
	left: 0px; //@menu-width;
	right: 0px;
	height: 100%;
}

#preview {
	min-width: @preview-min-width;
	width: @preview-width;
}

#welcome {
	position: absolute;
	top: @menu-height;
}


#inspector {
	position: absolute;
	bottom: 0;	
}


		
#preview-divider {
	left: @preview-width;	
}

#right-side-outer {
	left: @preview-width;
	margin-left: @divider-width;  
	min-width: @right-side-min-width;
}

#editor {
	bottom: @log-height;
	margin-bottom: @divider-width;
	min-height: @editor-min-height;
}

#file-info {
	height: @file-info-height;
	// background-color: @color-dark-gray;
	background-color: black;
	// border-bottom: 1px solid @color-accent;
	
	color: white;
	line-height: @file-info-height - 4;
	
}

#editor-content 
{
	width: 100%;
	position: absolute;
	top: @file-info-height;
	bottom: 0px;
}

#editor-divider {
	bottom: @log-height;
	height: @divider-width;
}

#log {
	height: @log-height;
	min-height: @log-min-height;
}

#overflower {
	width: 100%;
	height: 50px;
	background-color: pink;
}
#overflower:hover{
	width: 300px;
}



////////////////////////////////////////////////////////////////////
// Appearance
body
{
	font-family:  "Lucida Console", Monaco, monospace;
}

#menu {
	background-color: @menu-green;
	// border-right: 1px solid #444;

}
#menu a{
	text-decoration: none;
}

.button
{
	cursor: pointer;
	// text-transform: uppercase;
}

#zoom
{
	// background-color: rgba(0, 0, 0, .2);
	background-color: #fffc01;
	color: black;
	padding:6px;
	float: right;
	margin: 5px;
	cursor: pointer;
}

#menu .disabled {
	opacity: .15;
}

// #menu .icon
// {
// 	width: 44px;
// 	margin: auto;
// 	padding-top: 12px;
// 	padding-bottom: 12px;
// 	position: relative;
// 	.label {
// 		text-transform: none;
// 		font-size: 10px;
// 		display: block;
// 		margin-bottom: 5px;
// 	}
// 	> img
// 	{
// 		display: block;	
// 	}
// 	.strike-through
// 	{
// 		display: none;
// 		position: absolute;
// 		bottom: 12px;
// 	}
// 	&.off .strike-through
// 	{
// 		display: block;
// 	}
// }
// .menu-button .label
// {
// 	font-family:  Verdana, monospace;
// 	padding: 12px 15px;
// }
.menu-popup li.togglable.on::before
{ 
	content: '+';
	// position: relative;
	// border-color: #009933;
	// border-style: solid;
	// border-width: 0 0.3em 0.25em 0;
	// height: 1em;
	// top: 1.3em;
	// left: 0.6em;
	// margin-top: -1em;
	// transform: rotate(45deg);
	// width: 0.5em;
}

.menu-popup li.on
{
	// border: 1px solid blue;
}

.menu-popup ul{
	width: 100%;
}
.menu-popup
{
	display: none;
	position: absolute;
	
	top: @menu-height;

	// padding-left: @menu-width - 1;	

	
	// background-color: rgba(0,0,0,.2);

	
	ul {
		padding-left: 10px;
		background-color: @menu-blue;
		display: inline-block;
		// border: 1px solid black;
		// border-left: none;

	}

	li {
		list-style: none;
		display: block;
		float: left;
		padding-right: 10px;
	}

}

.menu-button:hover .menu-popup
{
	display: block;
}



.menu-popup.list
{
	font-family:  Verdana, monospace;
	ul {
		padding-right: 10px;
		padding-bottom: 20px;
		padding-top:  1em;
	}
	li {
		float: none;
		padding: 0 5px;
		text-transform: none;
		line-height: 1.8;
	}

	li.group-title 
	{
		// margin-top: 1em;
		font-weight: bold;
		// color: red;
		font-size: 12px;
	}
	.example-link
	{
		// text-decoration: underline;
		padding-left: 20px;
		cursor: pointer;
	}
}





#file-info #file-title,
#file-info #file-dirty {
	font-family: Verdana, monospace;
	background-color: transparent;
	background-color: @color-dark-gray;
	height: 100%;
	display: block;
	float: left;
	padding: 2px 20px;
	font-size: 12px;
	color: white;
	color: @menu-blue;
}

#file-info #file-dirty
{
	background: transparent;
	color: @menu-orange;
}
// #file-info #file-dirty
// {
// 	background-color: red;
// 	border-radius: 5px;
// 	height: 8px;
// 	width: 8px;
// 	display: block;
// 	float: left;
// 	// &.hidden {display: none;}
// }

#preview {
	overflow: hidden;
	// overflow-y: auto;
	background-color: #CCC;

}

#paper-canvas {
	// width: 100%;
	// height: 100%;
	position: absolute;
	// outline: 3px solid red;
	background-color: #EEE;
	@canvas-size: 1600px;

	width: @canvas-size;
	height: @canvas-size;
	left: 50%;
	margin-left: @canvas-size * -0.5;
	top: 50%;
	margin-top: @canvas-size * -0.5;

}

#inspector, #welcome {
	padding: 10px;
	width: 100%;

	font-size: 14px;
	line-height: 20px;
	color: #555;
}

#inspector dt {
	color: #888;
	float: left;
    clear: left;
    margin-right: 5px;
}

#inspector dt:after {
    content: ":";
}

#inspector dd {
	color: #444;
}

#inspector .breadcrumbs
{
	margin-bottom: 10px;
}

#inspector .breadcrumbs li
{
	display: inline;
	margin-right: 10px;
	text-decoration: underline;
	cursor: pointer;
}

#right-side-outer {
	box-shadow: -10px 0px 15px 0px rgba(0,0,0,.2);
}

#editor {
	background-color: @color-dark-gray;
}
#editor-content {
	font-size: 15px;
	background-color: @color-dark-gray;
	color: #E6DB74;
	font-family:  "Lucida Console", Monaco, monospace;
}


#log {
	box-shadow: 0px -10px 15px 0px rgba(0,0,0,.3);
	background-color: @color-dark-gray;
	color: white;
	overflow-y: scroll;
}

#log li
{
	border-left: 3px solid white;
	list-style: none;
	font-family:  Verdana, monospace;
	font-size: 14px;
	line-height: 20px;
	padding: 1px 10px;
	margin-bottom: 4px;
}

// old
// @debug-color: #777;
// @message-color: #AAA;
// @warning-color: #E6DB74;
// @error-color: #F92672;
// @success-color: #00FF00;

@menu-orange: #ff6529;
@menu-blue: #06aaff;
@menu-green: #1de982;
@menu-yellow: #fffc01;

@debug-color: #777;
@message-color: #AAA;
@warning-color: @menu-yellow;
@error-color: @menu-orange;
@success-color: @menu-green;


#log li.debug
{
	border-left-color: #222;
	color: @debug-color;
}
#log li.success
{
	border-left-color: @success-color;
	color: @success-color;
}
#log li.message
{
	border-left-color: @message-color;
	color: @message-color;
}
#log li.warning
{
	border-left-color: @warning-color;
	color: @warning-color;
}
#log li.error
{
	border-left-color: @error-color;
	color: @error-color;
}








/////////////////////////////////////////////////////////////////////
// HACKS?

#inspector, #welcome
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
