@import (inline) "reset.css";
@import "editor.less";

// @import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html, body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

div
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Micro ClearFix Mixin */
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

////////////////////////////////////////////////////////////////////
// Split Pane Appearance

@divider-width: 5px;
@divider-color: black;
@color-accent: black;
@color-dark-gray: #171717;


.split-pane-divider {
	background: black;
}


// horizontal divider []|[]
.fixed-left > .split-pane-divider,
.fixed-right > .split-pane-divider 
{
	width: @divider-width;
	.divider-handle
	{
		position: absolute;
		top: 50%;
		right: 0px;
		width: 30px;
		height: 60px;
		margin-top: -30px;
		// border: 1px solid red;
		background: url(../images/handles/divider_handle_left.svg) 100% 50% no-repeat;
	}
}

// vertical divider  —
.fixed-top > .split-pane-divider,
.fixed-bottom > .split-pane-divider 
{
	height: @divider-width;
	.divider-handle
	{

		position: absolute;
		left: 50%;
		bottom: 0px;
		width: 60px;
		height: 30px;
		margin-left: -20px;
		// border: 1px solid red;
		background: url(../images/handles/divider_handle_up.svg) 50% 100% no-repeat;
	}

}


////////////////////////////////////////////////////////////////////
// Layout

@menu-width: 70px;
@preview-width: 50%;//450px;
@preview-min-width: 300px;
@right-side-min-width: 300px;
@editor-min-height: 200px;
@editor-info-height: 30px;
@log-height: 200px;
@log-min-height: 20px;

#menu {
	position: absolute;
	box-sizing: border-box;
	
	width: @menu-width;
	height: 100%;
	
	z-index: 100;
}

#document-wrap {
	position: absolute;
	// width: 500px;
	left: @menu-width;
	right: 0px;
	height: 100%;
}

#preview {
	min-width: @preview-min-width;
	width: @preview-width;
}

#welcome {
	position: absolute;
	top: 0;	
}


#inspector {
	position: absolute;
	bottom: 0;	
}
		
#preview-divider {
	left: @preview-width;	
}

#right-side-outer {
	left: @preview-width;
	margin-left: @divider-width;  
	min-width: @right-side-min-width;
}

#editor {
	bottom: @log-height;
	margin-bottom: @divider-width;
	min-height: @editor-min-height;
}

#editor-info {
	height: @editor-info-height;
	color: white;
	background-color: @color-dark-gray;
	border-bottom: 1px solid @color-accent;

}

#editor-content 
{
	width: 100%;
	position: absolute;
	top: @editor-info-height;
	bottom: 0px;
}

#editor-divider {
	bottom: @log-height;
	height: @divider-width;
}

#log {
	height: @log-height;
	min-height: @log-min-height;
}

#overflower {
	width: 100%;
	height: 50px;
	background-color: pink;
}
#overflower:hover{
	width: 300px;
}



////////////////////////////////////////////////////////////////////
// Appearance
body
{
	font-family:  "Lucida Console", Monaco, monospace;
}

#menu {
	background-color: #DDD;
	border-right: 1px solid #444;
}

.button
{
	cursor: pointer;
	text-transform: uppercase;
}
.menu-text-button {
	background-color: black;
	color: #DDD;
	font-size: 11px;
	text-align: center;
	padding: 15px 0;
}

.menu-button {
	position: relative;
}

.editor-button {
	.menu-text-button ();
	display: inline-block;
	border: 1px solid #666;
	margin-top: 4px;
	padding: 4px 3px 3px 3px;
}

.editor-button.hidden
{
	display: none;
	border: 1px solid red;
}



.editor-info {
	.menu-text-button ();
	background-color: transparent;
	padding: 0;
}

#file-dirty
{
	background-color: red;
	border-radius: 5px;
	height: 8px;
	width: 8px;
	display: inline-block;
}

#menu .disabled {
	opacity: .15;
}

#menu .icon
{
	width: 44px;
	margin: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	position: relative;
	.label {
		text-transform: none;
		font-size: 10px;
		display: block;
		margin-bottom: 5px;
	}
	> img
	{
		display: block;	
	}
	.strike-through
	{
		display: none;
		position: absolute;
		bottom: 12px;
	}
	&.off .strike-through
	{
		display: block;
	}
}

.menu-popup
{
	display: none;
	position: absolute;
	
	top: 0px;

	padding-left: @menu-width - 1;	

	
	// background-color: rgba(0,0,0,.2);

	
	ul {
		padding-left: 10px;
		background-color: #ddd;
		display: inline-block;
		border: 1px solid black;
		border-left: none;

	}

	li {
		list-style: none;
		display: block;
		float: left;
		padding-right: 10px;
	}

}

.menu-button:hover .menu-popup
{
	display: block;
}



.menu-popup.list
{
	font-family:  Verdana, monospace; 
	ul {
		padding-right: 10px;
		padding-bottom: 20px;
	}
	li {
		float: none;
		padding: 0 5px;
		text-transform: none;
		line-height: 1.5;
	}

	li.group-title 
	{
		margin-top: 1em;
		font-weight: bold;
		// color: red;
	}
}

.example-link
{
	text-decoration: underline;
	cursor: pointer;
}



#preview {
	overflow: hidden;
	background-color: #CCC;

}

#paper-canvas {
	// width: 100%;
	// height: 100%;
	position: absolute;
	// outline: 3px solid red;
	background-color: #EEE;
	@size: 1200px;

	width: @size;
	height: @size;
	left: 50%;
	margin-left: @size * -0.5;
	top: 50%;
	margin-top: @size * -0.5;

}

#inspector, #welcome {
	padding: 10px;
	width: 100%;

	font-size: 14px;
	line-height: 20px;
	color: #555;
}

#inspector dt {
	color: #888;
	float: left;
    clear: left;
    margin-right: 5px;
}

#inspector dt:after {
    content: ":";
}

#inspector dd {
	color: #444;
}

#inspector .breadcrumbs
{
	margin-bottom: 10px;
}

#inspector .breadcrumbs li
{
	display: inline;
	margin-right: 10px;
	text-decoration: underline;
	cursor: pointer;
}

#right-side-outer {
	box-shadow: -10px 0px 15px 0px rgba(0,0,0,.2);
}

#editor-content {
	font-size: 15px;
	background-color: @color-dark-gray;
	color: #E6DB74;
	font-family:  "Lucida Console", Monaco, monospace;
}


#log {
	box-shadow: 0px -10px 15px 0px rgba(0,0,0,.3);
	background-color: @color-dark-gray;
	color: white;
	overflow-y: scroll;
}

#log li
{
	border-left: 3px solid white;
	list-style: none;
	font-family:  Verdana, monospace;
	font-size: 14px;
	line-height: 20px;
	padding: 1px 10px;
	margin-bottom: 4px;
}

@debug-color: #777;
@message-color: #AAA;
@warning-color: #E6DB74;
@error-color: #F92672;
@success-color: #00FF00;

#log li.debug
{
	border-left-color: #222;
	color: @debug-color;
}
#log li.success
{
	border-left-color: @success-color;
	color: @success-color;
}
#log li.message
{
	border-left-color: @message-color;
	color: @message-color;
}
#log li.warning
{
	border-left-color: @warning-color;
	color: @warning-color;
}
#log li.error
{
	border-left-color: @error-color;
	color: @error-color;
}


.highlight {
	border-left: 3px solid cyan;
	background-color: black;
	position: absolute;
}

.highlight.rectangle{
	border-left: 3px solid yellow;
}

.highlight.ellipse{
	border-left: 3px solid pink;
}

.highlight.regiongrid{
	border-left: 3px solid red;
}




