@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700);
$uifont: 'Josefin Sans', sans-serif;

$menu-orange: #ff6529;
$menu-blue: #06aaff;
$menu-green: #1de982;
$menu-yellow: #fffc01;

$menu-text-color: #000;
$menu-link-color: #000;
$menu-button-padding: 7px;

$menu-bar-height: 40px;
$menu-lineheight: 26px;
$menu-gutter: 12px;
$menu-margin: 24px;
$menu-column-width: 160px;

body {
	font-family: $uifont;
	margin: 0;
}

a{
	text-decoration: none;
	color:$menu-link-color;
	font-weight:600;
}

#menu {
	position: absolute;
	box-sizing: border-box;
	
	width: 100%;
	height: $menu-bar-height;
	background-color: $menu-green;
}

#menu a:visited{
	color:$menu-link-color;
}

#menu .button a{
	color:$menu-text-color;
}

#menu .button a:visited{
	color:$menu-text-color;
}

.menu-item{
	position: relative;
	display: inline-block;
	float: left;
}

.dropdown-content-wrap{
	// padding-left: $menu-margin;
	margin: 0px $menu-margin $menu-lineheight*.8 $menu-margin;
}

.menu-item h1{
	@extend .dropdown-content-wrap;
	font-weight: 300;
	font-size: 26px;
	border-bottom: 1px dotted black;
}
.menu-item p{
	@extend .dropdown-content-wrap;
	line-height:$menu-lineheight*.8;
}

.menu-item .label{
	position: relative;
	display: inline-block;
	padding: 12px $menu-margin;
	// background-color:red;
	font-weight:600;
	cursor: pointer;
	font-size: 18px;
	user-select: none;
}


/* DROP DOWN */

.column-list{
/*if we want the column lists to scroll*/
	// max-height:300px;
	// overflow:scroll;

	overflow-x: hidden;
	padding-left: $menu-margin;
}

.menu-dropdown{
	padding: $menu-margin 0 0 0;
	width: 300px;
	position:absolute;
	top:$menu-bar-height;
	left:0px;
	display:none;
	user-select: none;
}

.menu-item.open .menu-dropdown{
	display:block;
}

.menu-dropdown .column{
	width: $menu-column-width;
	display: inline-block;
	vertical-align: top;
	line-height:$menu-lineheight;
	margin-right: $menu-gutter;
}
.menu-dropdown .column:last-child{
	margin-right: 0;
}

.column h2{
	font-weight: 400;
	font-size: 15px;
	padding-top: 3px;
	margin: 0;
	clear: both;
}

.group{
	overflow: auto;
	padding-left:$menu-button-padding;
	margin: 0px 0px $menu-lineheight+3 $menu-button-padding * -2;
}

/* BUTTONS */
/*might need to add example link back in*/
#menu .button{
	cursor: pointer;
	user-select: none;
	font-weight: 600;
	font-size: 18px;

	display:inline-block;
	float:left;
	clear: both;

	padding: 3px $menu-button-padding 0px $menu-button-padding;
	transition: background-color .15s;

	.key-shortcut{
		font-size: 12px;
		margin-left: 5px
	}
}
#menu .button:hover{
	background-color: $menu-yellow;	
}

/* OTHER UI ELEMENTS */
#preview-ui{
	float:right;
	margin-right:10px;
}

.preview-ui-element{
	display:inline-block;
	float:left;
	height:30px;
	margin-left:5px;
	margin-top:5px;
	background-color: #139855;
	color:white;
}

.view-mode-icon{
	width:30px;
	@extend .preview-ui-element;
}
#zoom-level{
	// font-weight:600;
	display:inline-block;
	padding: 0 9px 0 9px;
	line-height:34px;
	@extend .preview-ui-element;
}
.zoom-button{
	// font-weight:400;
	font-size:30px;
	text-align:center;
	line-height:30px;
	display:inline-block;
	width:30px;
	@extend .preview-ui-element;
}

/* SPECIFIC MENUS LAYOUT */
#dropdown-documentation.open .label,
#dropdown-documentation .menu-dropdown{
	background-color: $menu-blue;
}

#dropdown-documentation .menu-dropdown{
	width: $menu-column-width*3 + $menu-gutter*2 + $menu-margin*2;
}

#dropdown-file.open .label,
#dropdown-file .menu-dropdown{
	background-color: $menu-orange;
}

#dropdown-file .menu-dropdown{
	width: $menu-column-width*2 + $menu-gutter + $menu-margin*2;
}
