////////////////////////////////////////////////////////////////////
// Variables

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700);
$uifont: 'Josefin Sans', sans-serif;

$menu-orange: #ff6529;
$menu-blue: #06aaff;
$menu-green: #1de982;
$menu-yellow: #fffc01;

$menu-text-color: #000;
$menu-link-color: #000;
$menu-button-padding: 7px;

$menu-bar-height: 40px;
$menu-lineheight: 26px;
$menu-gutter: 12px;
$menu-margin: 24px;
$menu-column-width: 160px;



////////////////////////////////////////////////////////////////////
// Mixins

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


#menu {
	font-family: $uifont;

	position: absolute;
	box-sizing: border-box;
	
	width: 100%;
	height: $menu-bar-height;
	background-color: $menu-green;
}

#menu a {
	text-decoration: none;
	color:$menu-link-color;
	font-weight:600;
}

#menu a:visited{
	color:$menu-link-color;
}

#menu .button a{
	color:$menu-text-color;
}

#menu .button a:visited {
	color:$menu-text-color;
}

#menu .menu-item {
	position: relative;
	float: left;
}

////////////////////////////////////////////////////////////////////
// Extendables
.dropdown-content {
	margin: 0px $menu-margin $menu-lineheight*.8 $menu-margin;
}


#menu .menu-label {
	position: relative;
	display: inline-block;
	padding-left: $menu-margin;
	padding-right: $menu-margin;
	line-height: $menu-bar-height;

	// background-color:red;
	font-weight:600;
	cursor: pointer;
	font-size: 18px;
	user-select: none;
}






/* DROP DOWN */
#menu {
	.menu-dropdown{
		padding: $menu-margin 0 0 0;
		width: 300px;
		position:absolute;
		top:$menu-bar-height;
		left:0px;
		display:none;
		user-select: none;
		
	}

	.open .menu-dropdown{
		display:block;
	}

	.menu-dropdown h1{
		@extend .dropdown-content;
		font-weight: 300;
		font-size: 26px;
		border-bottom: 1px dotted black;
	}

	.menu-dropdown p{
		@extend .dropdown-content;
		line-height: $menu-lineheight*.8;
	}
}


/* COLUMNS */
#menu {

	.column-container
	{
		padding-left: $menu-margin;
		@include clearfix;
	}

	.column-container.scroll
	{
		max-height:300px;
		overflow-y:auto;
	}

	.column{
		width: $menu-column-width;
		float: left;
		margin-right: $menu-gutter;
		line-height:$menu-lineheight;
	}

	.column:last-child{
		margin-right: 0;
	}

	.column h2{
		font-weight: 400;
		font-size: 15px;
		padding-top: 3px;
		margin: 0;
		clear: both;
	}
}


/* BUTTONS */
#menu {

	.button-list {
		padding-left: 0;
		margin: 0px 0px $menu-lineheight+3 0;
		@include clearfix;
	}

	.button-list .button{
		cursor: pointer;
		user-select: none;
		font-weight: 600;
		font-size: 18px;

		display: inline;
		float: left;
		clear: both;

		padding: 3px $menu-button-padding 0px $menu-button-padding;
		margin-left: -$menu-button-padding;

		transition: background-color .15s;

		.key-shortcut{
			font-size: 12px;
			margin-left: 5px
		}
	}

	.button-list .button:hover{
		background-color: $menu-yellow;	
	}
}


/* SPECIFIC MENU ITEMS STYLING */

#menu-item-documentation.open .menu-label,
#menu-item-documentation .menu-dropdown{
	background-color: $menu-blue;
}

#menu-item-documentation .menu-dropdown{
	width: $menu-column-width*3 + $menu-gutter*2 + $menu-margin*2;
}

#menu-item-file.open .menu-label,
#menu-item-file .menu-dropdown{
	background-color: $menu-orange;
}

#menu-item-file .menu-dropdown{
	width: $menu-column-width*2 + $menu-gutter + $menu-margin*2;
}






/* OTHER UI ELEMENTS */
#preview-ui{
	float:right;
	margin-right:10px;
}

.preview-ui-element{
	display:inline-block;
	float:left;
	height:30px;
	margin-left:5px;
	margin-top:5px;
	background-color: #139855;
	color:white;
}

.view-mode-icon{
	width:30px;
	@extend .preview-ui-element;
}
#zoom-level{
	// font-weight:600;
	display:inline-block;
	padding: 0 9px 0 9px;
	line-height:34px;
	@extend .preview-ui-element;
}
.zoom-button{
	// font-weight:400;
	font-size:30px;
	text-align:center;
	line-height:30px;
	display:inline-block;
	width:30px;
	@extend .preview-ui-element;
}


.scroll
{
	margin-right: 6px;
	
}
.scroll::-webkit-scrollbar {
	width: 10px;
}

.scroll::-webkit-scrollbar-track {

}

.scroll::-webkit-scrollbar-thumb {
	background-color: black;
	width: 5px;
}
