html
	head
		meta(charset='UTF-8')
		title Comb Script Docs
		script(src='./lib/jquery/jquery.js')
		script(src="./lib/mathjs/math.min.js")
		script(src="./lib/mousetrap/mousetrap.js")
		script(src="./lib/mousetrap/mousetrap-global-bind.js")
		script(src='./lib/google-code-prettify/prettify.min.js')
		script(src="./lib/paperjs-nightly/dist/paper-full.js")
		script(src="./lib/ace/ace.js")

		script(src="javascript/language.js")
		script(src="javascript/docs.js")

		link(rel='stylesheet', href='css/docs.css')

	body
		nav#menu
			h2 Overview
			ul
				li: a(href='#introduction') Introduction
				li: a(href='#syntax') Basic Syntax
				li: a(href='#regions') Regions
				li: a(href='#property-types') Property Types
				li: a(href='#using-math') Using Math
				li: a(href='#booleans') Booleans
				li: a(href='#using-region-grids') Using Region Grids
				li: a(href='#yaml-repeated-nodes') Repeated Nodes
				li: a(href='#exporting') Exporting

			h2 Language Reference
			ul#template-menu
				| {{#regionTypes}}
				| <li><a href="\#{{class}}">{{class}}</a></li>
				| {{/regionTypes}}



		main#content
			include docs/_comb_script


			div#template-regionTypes
				| {{#regionTypes}}
				| <section class="region-type" id="{{class}}">
				| 	<h1>{{class}}</h1>

				| 	<dl>
				| 		{{#keyword}}<dt>keyword:</dt><dd>{{keyword}}</dd>{{/keyword}}
				| 		{{#extends}}<dt>extends:</dt><dd><a href="\#{{extends}}">{{extends}}</a></dd>{{/extends}}
				| 	</dl>

				| 	<div class="region-description">{{{description}}}</div>

				| 	{{#required_properties.length}}
				| 		<h2>Required Properties</h2>
				| 		<ul class="properties required-properties">
				| 		{{#required_properties}}
				| 			<li>{{>prop}}</li>
				| 		{{/required_properties}}
				| 		</ul>
				| 	{{/required_properties.length}}

				| 	{{#properties.length}}
				| 		<h2>Properties</h2>
				| 		<ul class="properties">
				| 		{{#properties}}
				| 			<li>{{>prop}}</li>
				| 		{{/properties}}
				| 		</ul>
				| 	{{/properties.length}}

				| 	{{#inherited_properties.length}}
				| 		<h2>Inherited Properties</h2>
				| 		<ul class="properties inherited-properties">
				| 		{{#inherited_properties}}
				| 			<li>{{>prop}}</li>
				| 		{{/inherited_properties}}
				| 		</ul>
				| 	{{/inherited_properties.length}}

				| </section>
				| {{/regionTypes}}

			div#template-property.hidden
				| <div class="property-name">{{keyword}}</div>
				| <div class="description">{{{description}}}</div>
				| <dl>
				| 	<dt>type:</dt>
				| 	<dd>{{type}}</dd>
				| 	<dt>default:</dt>
				| 	<dd>{{default}}{{^default}}undefined{{/default}}</dd>
				| 	{{#required}}
				| 		<dt>required:</dt>
				| 		<dd>{{required}}</dd>
				| 	{{/required}}
				| 	{{#values.length}}
				| 		<dt>values:</dt>
				| 		{{#values}}
				| 		<dd>{{.}}</dd>
				| 		{{/values}}
				| 	{{/values.length}}
				| </dl>
