body{
	font-family: 'Lucida Console', Monaco, monospace;
	background-color: #000000;
	font-size: 12px;
}

#content{
	width: 800px;
	background-color: rgb(238, 238, 238);
}
.clear{
	clear:both;
}

h1{
	font-size: 18px;
}

ul{
	list-style: none;
	padding: 0px;
}

#doc_list{
	float: left;
	background-color: rgb(221, 221, 221);
	width: 200px;
	padding: 10px;
}

#doc_detail{
	float: left;
	padding: 10px;
	width: 550px;
}

pre{
	background-color: #262821;
	color: white;
	padding: 10px;
	//width: 100%;
}